table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

input {
  margin: 5px;
}

.delete-btn {
  margin-left: 1rem;
  color: red;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
  margin: 1rem;
}